#devices-info-subsection {
    width: 100%;
    margin: auto;
}

#devices-info-subsection h3{
    margin-top: 2%;
    font-size: 2rem;  
}

ul#device-container{
    /* display: grid;
    grid-template: 1fr / repeat(4,1fr);
    gap: 2%;
    grid-auto-flow: row;
    grid-auto-rows: minmax(150px, auto); */
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    list-style-type: none;
}

.device-tile{
    height: 125px;
    width: 220px; 
    box-sizing: border-box;
    padding: 8px 0 0 20px;
    margin: 0.5%;
    border-radius: 20px;
    border: solid 1px var(--darker-background-color);
    background-image: linear-gradient(var(--brighter-background-color),var(--darker-background-color));
}

.device-tile:hover {
    background: var(--marked-element-color);
    border: solid 1px var(--secondary-text-color);
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.device-tile span{
    font-weight: bold;
}